<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>

<body>
    <div class="container">
        {{>header}}

        <div class="main-container">
            <p class="info">Best and easiest portal to get weather information of locations across the globe.</p>
            <div class="form-content">
                <form>
                    <input type="text" placeholder="Enter the location">
                    {{!-- <button type="submit"></button> --}}
                    <input type="submit" value="Get report!">
                </form>

            </div>
            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>
        {{>footer}}
    </div>

    <script src="/js/scripts.js"></script>
</body>

</html>